body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 800px;
  background-color: rgb(24, 27, 32);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.gallery {
  width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.images {
  box-sizing: border-box;
  border-radius: 1%;
  width: 300px;
  height: 400px;
  background-color: rgb(24, 27, 32);
  align-items: center;
  display: flex;
  margin: 20px;
  min-width: 300px;
  min-height: 400px;
  cursor: pointer;
  border: solid rgb(115, 91, 43) 4px;
}

.images img {
  border-radius: 1%;
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
  cursor: pointer;
}

.popup {
  background: rgba(115, 91, 43, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.popup img {
  box-sizing: border-box;
  border-radius: 1%;
  padding: 5px;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  background-color: rgb(124, 107, 73);
  margin: 20px;
}

