body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.gallery {
  width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.images {
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  height: 400px;
  background-color: #7ba6af;
  align-items: center;
  display: flex;
  margin: 20px;
}

.images img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
  cursor: pointer;
}

.popup {
  background: rgba(66, 83, 90, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.popup img {
  box-sizing: border-box;
  padding: 10px;
  width: auto;
  height: 80%;
  background-color: #7ba6af;
  margin: 20px;
}
